<h1>Welcome! Please Register Below:</h1>
<form method = 'post' action = '/user/record'>
<p> Infoz </p>
<p>-------------------------</p>
<input type ='text' name = 'username' placeholder = 'Username' required/>
<br>
<br>
<input type ='text' name = 'password' placeholder = 'Password' required/>
<br>
<br>
<p>-------------------------</p>
<p> Name </p>
<p>-------------------------</p>
<br>
<br>
<input type ='text' name = 'first' placeholder = 'First Name'/>
<br>
<br>
<input type ='text' name = 'last' placeholder = 'Last Name'/>
<br>
<br>
<p>-------------------------</p>
<p> Address </p>
<p>-------------------------</p>
<br>
<br>
<input type ='text' name = 'address' placeholder = 'Address' />
<br>
<input type ='text' name = 'zip' placeholder = 'Zip' />
<br>
<input type ='text' name = 'country' placeholder = 'Country' />
<br>
<p>-------------------------</p>
<p> Email </p>
<p>-------------------------</p>
<br>
<br>
<input type ='text' name = 'email' placeholder = 'Email' />
<br>
<p>-------------------------</p>
<p> Phone </p>
<p>-------------------------</p>
<br>
<br>
<input type ='text' name = 'phone1' placeholder = 'Phone 1' />
<br>
<input type ='text' name = 'phone2' placeholder = 'Phone 2' />
<br>
<input type ='text' name = 'phone3' placeholder = 'Phone 3' />
<br>
<p>-------------------------</p>
<p> Submit </p>
<p>-------------------------</p>
<input type = 'submit' value = 'Boom'/>

</form>
